@media (max-width: 1024px) {
  .page__main-block {
    margin: 15px 0 15px 0;
  }
  .main-block__body {
    box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.5);
  }
}

@media (max-width: 768px) {
  .sidebar {
    flex: 0 0 245px;
  }
}

@media (max-width: 600px) {
  .main-block__body {
    display: flex;
    flex-direction: column;
  }
  .sidebar {
    flex: 0 0 100%;
  }
  .info {
    flex: 0 0 100%;
  }
}

@media (max-width: 450px) {
  .page__main-block {
    margin: 0;
  }
  ._container {
    padding: 0;
  }
  ._inner-container {
    margin: 20px 20px 20px 20px;
  }
}
